<div class="row">
  <div class="page-header col d-flex justify-content-between my-3">
    <h4 class="title">Users</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">/ Customers</li>
      </ol>
    </nav>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button (click)="modalNewUser();" type="button" class="btn btn-sm btn-primary"><i class="fa-solid fa-plus"></i> Add</button>
            </div>
            <div class="btn-group ms-1" role="group" aria-label="Second group">
              <button title="Generate print." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-print"></i></button>
              <button title="Download PDF" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-file-pdf"></i></button>
              <button (click)="updateTable()" title="Update table." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-arrows-rotate"></i></button>
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            <div style="width: 250px;">
              <div class="input-group">
                <span class="input-group-text text-bg-secondary border border-secondary"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input (input)="TableUsers.search($any($event.target).value)" class="form-control form-control-sm border border-secondary" type="text" placeholder="Search user ...">
              </div>
            </div>
            <div class="ms-1" style="width: 80px;">
              <select class="form-select form-select-sm border border-secondary" title="Number of rows per page.">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="300">300</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-group me-2" role="group" aria-label="First group">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th width="20px">Status</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let item of TableUsers.Data">
                  <td>{{item.name}}</td>
                  <td>{{item.lastname}}</td>
                  <td>{{item.email}}</td>
                  <td><span class="badge" [ngClass]="{'text-bg-success': item.active, 'text-bg-danger': !item.active}">Primary</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
