.card{
  //border-radius:.25rem;
  border-radius:0.625rem !important;
  border:1px solid #f1f1f4;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.03);

}

.form-label{
  font-family: "Poppins", sans-serif !important;
  font-size: 12pt !important;
  font-weight: 400;
}

.form-control{
  border: 1px solid #c0c0c0;
}


.modal-title{
  font-weight: bold;
}


//FORM ANGULAR VALIDATOR
.ng-touched.ng-valid[required], .ng-valid.required  {
  border: 1px solid #42A948; /* green */
}

.ng-touched.ng-invalid:not(form)  {
  border: 1px solid #a94442; /* red */
}

#navigationbar{
  a {
    color: #4f5366;
  }

  li.nav-item{
    padding-right: 1rem;
    padding-left: 1rem;
  }

  li i.nav-icon{
    min-width: 1.75rem;
  }
}
