<div class="row">
  <div class="page-header col d-flex justify-content-between my-3">
    <h4 class="title">Quotation detail</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item " aria-current="page">Quotation</li>
        <li class="breadcrumb-item active" aria-current="page">detail</li>

      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body pt-1">
          <div class="row">
            <div class="col-sm-12 px-0 d-flex justify-content-between">
              <h5>Cafe de la flor</h5>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2" role="group">
                  <button type="button" class="btn btn-sm m-0 py-0 px-1 btn-light"><i class="fa-regular fa-envelope"></i></button>
                  <button type="button" class="btn btn-sm m-0 py-0 px-1 btn-light"><i class="fa-solid fa-gear"></i></button>
                  <button type="button" class="btn btn-sm m-0 py-0 px-1 btn-light"><i class="fa-solid fa-arrow-up-right-from-square"></i></button>
                  <button type="button" class="btn btn-sm m-0 py-0 px-1 btn-light"><i class="fa-solid fa-print"></i></button>
                </div>
              </div>
            </div>
            <div class="col-sm-12 px-0 d-flex justify-content-between">
              <span>{{Quotation.date | date}}</span>
              <span class="text-end">Moneda: Mexico</span>
            </div>
            <div class="col-12 mt-2 px-1">
              <table class="table h6 mb-0">
                <tr>
                  <td>Subtotal</td>
                  <td class="text-end">{{Quotation.subtotal | currency}}</td>
                </tr>
                <tr>
                  <td>Tax</td>
                  <td class="text-end">{{Quotation.tax | currency}}</td>
                </tr>
                <tr>
                  <td>ISR</td>
                  <td class="text-end">{{Quotation.isrRet | currency}}</td>
                </tr>
                <tr class="border-t fw-bold">
                  <td >Total</td>
                  <td class="text-end">{{Quotation.total | currency}}</td>
                </tr>
                <tr class="fw-bold">
                  <td>Paid</td>
                  <td class="text-end">{{Quotation.paid | currency}}</td>
                </tr>
                <tr class="border-t fw-bold">
                  <td>Balance</td>
                  <td class="text-end h5">{{Quotation.balance | currency}}</td>
                </tr>
              </table>
              <div class="progress">
                <div class="progress-bar" role="progressbar" [style.width.%]="PAIDPERCENT"  aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">{{PAIDPERCENT}}%</div>
              </div>
            </div>
            <div class="col-12 mt-3 px-1">
              <h6 class="font-weight-bold border-bottom mt-2">Stats</h6>
              <table class="table h6">
                <tr>
                  <td>Payments</td>
                  <td class="text-end">{{Quotation.payments.length}}</td>
                </tr>
                <tr>
                  <td>Invoices</td>
                  <td class="text-end">0</td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tabServices" type="button" role="tab" aria-controls="home" aria-selected="true">Services</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabInvoices" type="button" role="tab" aria-controls="profile" aria-selected="false">Invoices</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tabPayments" type="button" role="tab" aria-controls="profile" aria-selected="false">Payments</button>
      </li>
    </ul>
    <div class="card">
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tabServices" role="tabpanel" aria-labelledby="home-tab">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group">
                <button (click)="modalAddService()" type="button" class="btn btn-sm m-0 py-0 px-1 btn-success"><i class="fa-solid fa-plus"></i> Add service</button>
              </div>
            </div>
            <div class="mt-3" style="overflow-y: auto; height: 65vh;">
              <table class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th width="100px">Price</th>
                    <th width="100px">Quantity</th>
                    <th class="text-end" width="100px">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of TableServices.Data">
                    <!-- <td>
                      <button type="button" class="btn btn-sm m-0 py-0 px-1 btn-light"><i class="fa-solid fa-angle-down"></i></button>
                    </td> -->
                    <td></td>
                    <td>{{item.name}}</td>
                    <td><span class="d-inline-block text-truncate" style="max-width: 200px;">{{item.description}}</span></td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.quantity}}</td>
                    <td class="text-end">{{item.total | currency}}</td>
                  </tr>
                </tbody>
              </table></div>
          </div>

          <div class="tab-pane fade" id="tabPayments" role="tabpanel" aria-labelledby="profile-tab">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group">
                <button (click)="modalAddPayment()" type="button" class="btn btn-sm m-0 py-0 px-1 btn-success"><i class="fa-solid fa-plus"></i> Add payment</button>
              </div>
            </div>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Reference</th>
                  <th width="100px">Value</th>
                  <th width="20px">Billable</th>
                  <th width="20px">Invoice</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of TablePayments.Data">
                  <td>{{item.date | date}}</td>
                  <td>{{item.reference}}</td>
                  <td>{{item.value | currency}}</td>
                  <td class="text-center"><i class="fa-solid fa-circle-check fa-lg"></i></td>
                  <td class="text-center"><button class="btn btn-sm btn-outline-secondary m-0 py-0 px-1"><i class="fa-solid fa-eye"></i></button></td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="tab-pane fade" id="tabInvoices">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group me-2" role="group">
                <button (click)="modalAddInvoice()" type="button" class="btn btn-sm m-0 py-0 px-1 btn-success"><i class="fa-solid fa-plus"></i> Add invoice</button>
              </div>
            </div>
            <table class="table table-sm table-hover">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comments</th>
                  <th width="20px">PDF</th>
                  <th width="20px">XML</th>
                  <th width="100px">Total</th>
                  <th>Paid</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of TableInvoices.Data">
                  <td>{{item.date | date}}</td>
                  <td>{{item.comments}}</td>
                  <td>
                    <button class="btn btn-outline-secondary py-0 px2" title="{{item.filePDF.originalname}}"><i class="fa-regular fa-file-lines"></i></button>
                  </td>
                  <td>
                    <button class="btn btn-outline-secondary py-0 px2" title="{{item.fileXML.originalname}}"><i class="fa-regular fa-file-code"></i></button>
                    </td>
                  <td>{{item.total | currency}}</td>
                  <td>
                    <span *ngIf="item.paid" class="badge bg-success">PAID</span>
                    <span *ngIf="!item.paid" class="badge bg-secondary">PENDING</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
