<form class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Add new service</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12"><h4>Add service</h4></div>
          <div class="col-sm-12">
            <label class="form-label">Name</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="Service.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-sm-12 mt-3">
            <label class="form-label">Description</label>
            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="Service.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Price</label>
          <div class="col-sm-7">
            <input type="number" class="form-control form-control-sm" (input)="Service.calculateTotal()" [(ngModel)]="Service.price" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Quantity</label>
          <div class="col-sm-7">
            <input type="number" class="form-control form-control-sm" (input)="Service.calculateTotal()" [(ngModel)]="Service.quantity" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Total</label>
          <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" disabled [value]="Service.total">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 d-grid">
            <button type="button" (click)="addService();"  class="btn btn-sm btn-secondary">Add</button>
          </div>
        </div>
      </div>
      <div class="col-sm-9" style="overflow-y: auto; max-height: 50vh;">
        <div class="col-sm-12"><h4>Services on QUOTATION</h4></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="100px">Actions</th>
              <th>Name</th>
              <th width="100px">Price</th>
              <th width="100px">Quantity</th>
              <th class="text-end" width="100px">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ServicesTable.Data">
              <td></td>
              <td>{{item.name }} <br> {{item.description}}</td>
              <td>{{item.price | currency}}</td>
              <td>{{item.quantity }}</td>
              <td class="text-end">{{item.total | currency}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
