<div class="row">
  <div class="page-header col-sm-12 d-flex justify-content-between my-3">
    <h4 class="title">Customers</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">/ Customers</li>
      </ol>
    </nav>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-8">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-grou me-2" role="group" aria-label="First group">
                <button (click)="modalNew()" type="button" class="btn btn-sm btn-success"><i class="fa-solid fa-plus"></i> <span>New</span></button>
              </div>
            </div>
          </div>
          <div class="col-sm-4 d-flex justify-content-end">
            <div style="width: 250px;">
              <div class="input-group">
                <span class="input-group-text text-bg-secondary border border-secondary"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input class="form-control form-control-sm border border-secondary" type="text" placeholder="Search customer ..." (input)="TableCustomers.search($any($event.target).value)">
              </div>
            </div>
            <div class="ms-1" style="width: 80px;">
              <select (change)="TableCustomers.changeSizePage($any($event.target).value)" class="form-select form-select-sm border border-secondary" title="Number of rows per page.">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="300">300</option>
              </select>
            </div>
            <div class="btn-group ms-1" role="group" aria-label="Second group">
              <button title="Generate print." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-print"></i></button>
              <button title="Download PDF" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-file-pdf"></i></button>
              <button (click)="loadCustomer();" title="Regresh table." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-arrows-rotate"></i></button>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 mb-3" style="height: 400px; overflow-y: auto;">
            <table class="table ktable-fixed table-sm table-bordered table-hover">
              <thead class="">
                <tr>
                  <th (click)="TableCustomers.Sort('name')">Name</th>
                  <th>Type</th>
                  <th class="col-50">Active</th>
                  <th class="col-50"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of TableCustomers.Data">
                  <td>{{ item.name }}</td>
                  <td>{{ item.type }}</td>
                  <td><span class="badge" [ngClass]="{'text-bg-success': item.active, 'text-bg-danger': !item.active}">Primary</span></td>
                  <td class="text-center">
                    <div class="dropdown">
                      <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                      </button>
                      <ul class="dropdown-menu" style="    box-shadow: 0 1rem 3rem #0000002d; ">
                        <li><a class="dropdown-item" routerLink="profile"><i class="fa-regular fa-id-card fa-2xs"></i> Profile</a></li>
                        <!-- <li><hr class="dropdown-divider"></li> -->
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-pen-to-square fa-2xs"></i> Editar</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12 pt-3 d-flex justify-content-between border-top">
            <div>Total de registros {{ TableCustomers.NumRows}}.</div>

            <nav>
              <ul class="pagination pagination-sm m-0">
                <li class="page-item" [ngClass]="{'disabled':TableCustomers.PrevPageDisable}" title="Go to the first page."><a (click)="TableCustomers.prevPage()" type="button" class="page-link"><i class="fa-solid fa-angles-left"></i></a></li>
                <li class="page-item" class="me-2" [ngClass]="{'disabled':TableCustomers.PrevPageDisable}"><a (click)="TableCustomers.prevPage()" type="button" class="page-link"><i class="fa-solid fa-angle-left"></i></a></li>

                <li *ngFor="let page of TableCustomers.Pages" [ngClass]="{ 'active': page.active == true }" class="page-item pointer"><a class="page-link" (click)="TableCustomers.setPage(page.number)">{{page.number}}</a></li>

                <li class="page-item" class="ms-2" [ngClass]="{'disabled':TableCustomers.NextPageDisable}"><a (click)="TableCustomers.nextPage()" class="page-link" type="button"><i class="fa-solid fa-chevron-right"></i></a></li>
                <li class="page-item" [ngClass]="{'disabled':TableCustomers.PrevPageDisable}" title="Go to the last page."><a (click)="TableCustomers.prevPage()" type="button" class="page-link"><i class="fa-solid fa-angles-right"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
    </div>
  </div>
</div>
