<div class="d-flex flex-column align-items-center align-items-sm-start pt-2 text-white min-vh-100">
  <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <img style="width: 50px;" src="./assets/Logo.png" alt="image">
      <span class="fs-5 d-none d-sm-inline">Menu</span>
  </a>
  <ul class="fw-semibold nav nav-pills flex-column mb-sm-auto mb-0 w-100" id="navigationbar">
    <li *ngFor="let item of Modules" class="nav-item">

      <a *ngIf="item.hasSubMenus == false" routerLink="{{item.path}}" class="nav-link align-middle px-0">
          <i class="nav-icon fa-solid {{item.icon}}"></i>
          <span class="ms-1 d-none d-sm-inline">{{item.name}}</span>
        </a>

      <a *ngIf="item.hasSubMenus" href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 d-flex justify-content-between">
        <div>
          <i class="nav-icon fa-solid fa-folder-tree"></i>
          <span class="ms-1 d-none d-sm-inline">Catalogs</span>
        </div>
        <i class="fa-solid fa-sort-down"></i>
      </a>

      <ul *ngIf="item.hasSubMenus" class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
          <li class="w-100"><a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline"></span> 1 </a></li>
      </ul>
    </li>
  </ul>
</div>
