<form [formGroup]="FormUser" (ngSubmit)="saveUser()" class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">New User</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="col-sm-6">
        <label class="form-label">Last name</label>
        <input type="text" class="form-control" formControlName="lastname">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-6">
        <label class="form-label">Email</label>
        <input type="text" class="form-control" formControlName="email">
      </div>
      <div class="col-sm-6">
        <label class="form-label">Activo</label>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" formControlName="active">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
