<nav class="topbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="col-sm-12 d-flex justify-content-between">
       <div class="option">
        <i class="fa-solid fa-bars"></i>
       </div>
       <ul class="navbar-nav">
        <li class="nav-item">
          <a type="button" class="btn btn-sm btn-outline-light text-dark" ><i class="fa-solid fa-bell"></i></a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn btn-sm btn-outline-light text-dark"><i class="fa-solid fa-gear"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
