<form [formGroup]="FormQuotation" (ngSubmit)="saveQuotation()"  class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">New QUOTATION</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-3">
        <label for="" class="form-label">Customer</label>
        <input class="form-control form-control-sm" formControlName="customer">
      </div>
      <!-- <div class="col-sm-2">
        <label class="form-label">Contacto</label>
        <input type="text" class="form-control form-control-sm" value="Pedro Martinez">
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col">
            <label class="form-label">Razon social : Cafe dela</label>
            </div>
          <div class="col"><label class="form-label">RFC : FIN150408L83</label></div>
          <div class="col"><label class="form-label">Regimen Fiscal: General de ley personas morales</label></div>
          <div class="col"></div>
        </div>
      </div> -->

    </div>
    <div class="row mt-3">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12"><h4>Add service</h4></div>
          <div class="col-sm-12">
            <label class="form-label">Name</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="ServiceSelected.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="col-sm-12 mt-3">
            <label class="form-label">Description</label>
            <textarea rows="3" class="form-control form-control-sm" [(ngModel)]="ServiceSelected.description" [ngModelOptions]="{standalone: true}"></textarea>
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Price</label>
          <div class="col-sm-7">
            <input type="number" class="form-control form-control-sm" (input)="ServiceSelected.calculateTotal()" [(ngModel)]="ServiceSelected.price" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Quantity</label>
          <div class="col-sm-7">
            <input type="number" class="form-control form-control-sm" (input)="ServiceSelected.calculateTotal()" [(ngModel)]="ServiceSelected.quantity" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
        <div class="row mt-3">
          <label class="col-sm-5 form-label">Total</label>
          <div class="col-sm-7">
            <input type="text" class="form-control form-control-sm" disabled [value]="ServiceSelected.total">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-sm-12 d-grid">
            <button type="button" (click)="addService()" class="btn btn-sm btn-secondary">Add</button>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-12"><h4>Configuration</h4></div>
          <div class="col-sm-12">
            <label for="" class="form-label">Tax</label>
            <select class="form-select form-select-sm" [(ngModel)]="QUOTATION.taxUnit" [ngModelOptions]="{standalone: true}" (change)="setTaxUnit($event);">
              <option value="8">8 %</option>
              <option value="16">16 %</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-7" style="overflow-y: auto; max-height: 50vh;">
        <div class="col-sm-12"><h4>Services on QUOTATION</h4></div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th width="100px">Actions</th>
              <th>Name</th>
              <th width="100px">Price</th>
              <th width="100px">Quantity</th>
              <th class="text-end" width="100px">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of QUOTATION.services">
              <td>
                <button (click)="deleteService(item);" type="button" class="btn btn-sm btn-danger"><i class="fa-regular fa-trash-can"></i></button>
                <button (click)="editService(item);" type="button" class="btn btn-sm btn-warning"><i class="fa-solid fa-pen"></i></button>
              </td>
              <td>{{item.name }} <br> {{item.description}}</td>
              <td>{{item.price | currency}}</td>
              <td>{{item.quantity }}</td>
              <td class="text-end">{{item.total | currency}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3"></td>
              <td>Subtotal</td>
              <td class="text-end">{{QUOTATION.subtotal | currency}}</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td class="d-flex justify-content-between">Tax</td>
              <td class="text-end">{{QUOTATION.tax | currency}}</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td class="d-flex justify-content-between">ISR Ret.</td>
              <td class="text-end">{{QUOTATION.isrRet | currency}}</td>
            </tr>
            <tr>
              <td colspan="3"></td>
              <td>Total</td>
              <td class="text-end">{{QUOTATION.total | currency}}</td>
            </tr>
          </tfoot>
        </table>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-4 d-flex justify-content-end">

        <!-- <div style="width: 200px;" class="d-flex justify-content-between">
          <span>Subtotal</span>
          <span>$2000</span>
        </div>
        <div style="width: 200px;" class="d-flex justify-content-between">
          <span>TAX</span>
          <span>$100</span>
        </div>
        <div style="width: 200px;" class="d-flex justify-content-between">
          <span>TOTAL</span>
          <span>$2100</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
