<form [formGroup]="FormInvoice" (ngSubmit)="saveInvoice()" class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Add new invoice</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
       <div class="row">
        <div class="col-sm-12">
          <label class="form-label">XML file</label>
          <input accept=".xml" (change)="changeXML($event)" type="file" class="form-control form-control-sm" (change)="changefileXML($event)">
        </div>
        <div class="col-sm-12 mt-2">
          <label class="form-label">PDF file</label>
          <input accept=".pdf" (change)="changePDF($event)" type="file" class="form-control form-control-sm" >
        </div>
        <div class="col-sm-12 mt-2">
          <label class="form-label">Comments</label>
          <textarea formControlName="comments" rows="5" class="form-control"></textarea>
        </div>
       </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12"><h5>Detail</h5></div>
          <div class="col-sm-12">
            <table class="table table-borderless" style="width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <b>Emisor</b> <br>
                    {{XMLdata.elements[0].elements[0].attributes.Nombre}}
                    <br>
                    {{XMLdata.elements[0].elements[0].attributes.Rfc}}
                  </td>
                  <td>
                    <b>Receptor</b> <br>
                    {{XMLdata.elements[0].elements[1].attributes.Nombre}}
                    <br>
                    {{XMLdata.elements[0].elements[1].attributes.Rfc}}
                  </td>
                </tr>
                <tr>
                  <td>Metodo de pago</td>
                  <td>{{XMLdata.elements[0].attributes.MetodoPago}}</td>
                </tr>
                <tr>
                  <td>Forma de pago</td>
                  <td>{{XMLdata.elements[0].attributes.FormaPago}}</td>
                </tr>
                <tr>
                  <td>Moneda</td>
                  <td>{{XMLdata.elements[0].attributes.Moneda}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td>Sub total</td>
                  <td>{{XMLdata?.elements[0].attributes.SubTotal}}</td>
                </tr>
                <tr>
                  <td>Impuestos Traslados</td>
                  <td>{{XMLdata?.elements[0].elements[3].attributes.TotalImpuestosTrasladados}}</td>
                </tr>
                <tr>
                  <td>Impuestos retenidos</td>
                  <td>{{XMLdata?.elements[0].elements[3].attributes.TotalImpuestosRetenidos}}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>{{XMLdata?.elements[0].attributes.Total}}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
