<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box d-flex align-items-center justify-content-between">
      <h4>Dashboard</h4>
      <div class="page-title-right">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Library</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
