<div class="row">
  <div class="page-header col d-flex justify-content-between my-3">
    <h4 class="title">Quotations plan</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">/ Invoices</li>
      </ol>
    </nav>
  </div>

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class="btn-group" role="group" aria-label="Second group">
              <button title="Generate print." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-print"></i></button>
              <button title="Download PDF" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-file-pdf"></i></button>
              <button (click)="updateTable()" title="Update table." type="button" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-arrows-rotate"></i></button>
            </div>
          </div>
          <div class="col d-flex justify-content-end">
            <div style="width: 250px;">
              <div class="input-group">
                <span class="input-group-text text-bg-secondary border border-secondary px-2"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input (input)="TableInvoices.search($any($event.target).value)" class="form-control form-control-sm border border-secondary" type="text" placeholder="Search ...">
              </div>
            </div>
            <div class="ms-1" style="width: 80px;">
              <select class="form-select form-select-sm border border-secondary" title="Number of rows per page.">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="300">300</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn-group me-2" role="group" aria-label="First group">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-sm">
              <thead>
                <tr>
                  <th width="100px">Date</th>
                  <th>Customer</th>
                  <th>Quotation</th>
                  <th width="120px">Progress</th>
                  <th width="20px">Status</th>
                  <th width="20px">Actions</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr *ngFor="let item of TableInvoices.Data">
                  <td>{{item.date}}</td>
                  <td>{{item.customer }}</td>
                  <td></td>
                  <td>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                    </div>
                  </td>
                  <td>ACTIVE</td>
                  <td class="text-center"><a [routerLink]="['/quotationsplan/detail', item._id]" class="btn btn-sm btn-outline-secondary m-0 py-0 px-1"><i class="fa-solid fa-eye fa-sm"></i></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
