<form [formGroup]="FormPayment" (ngSubmit)="savePayment()" class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Add new payment</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4">
        <div class="col-sm-12">
          <label class="form-label">Date</label>
          <input type="date" class="form-control form-control-sm" formControlName="datepayment">
        </div>
        <div class="col-sm-12 mt-3">
          <label class="form-label">Value</label>
          <input type="text" class="form-control form-control-sm" formControlName="value">
        </div>
        <div class="col-sm-12">
          <label class="form-label">Reference</label>
          <input type="text" class="form-control form-control-sm" formControlName="reference">
        </div>
      </div>
      <div class="col-sm-8">
        <div class="col-sm-12">
          <label class="form-label">To invoice</label>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Cras justo odio
              </div>
              <span class="badge bg-primary rounded-pill">14</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-between">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('close')">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
