<form [formGroup]="CustomerForm" (ngSubmit)="SubmitCustomerForm()" class="needs-validation" novalidate>
  <div class="modal-header">
    <h5 class="modal-title">Create customer</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" aria-selected="true">General Information</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" data-bs-toggle="pill" data-bs-target="#tab_contact" type="button">Contact</button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-md-10">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-valid': CustomerForm.get('name')?.valid && CustomerForm.get('name')?.touched}"/>
          </div>
          <div class="col-md-2">
            <label class="form-label">Active</label>
            <div class="form-check form-switch pt-2">
              <input class="form-check-input" type="checkbox" role="switch" formControlName="active">
            </div>
          </div>
          <div class="col-md-12">
            <label class="form-label">Type</label>
            <select class="form-select" formControlName="type">
              <option value="PERSON">PERSON</option>
            </select>
          </div>
          <div class="col-md-12">
            <label class="form-label">Address</label>
            <textarea type="text" class="form-control" rows="3" formControlName="address"  [ngClass]="{'is-valid': CustomerForm.get('address')?.valid && CustomerForm.get('address')?.touched}"></textarea>
          </div>
        </div>
      </div>
      <div id="tab_contact" class="tab-pane fade">
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Phone</th>
                  <th>Email</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
  </div>
</form>
