$base-color:#fff;
$base-background-color:#fcfcfc;
$base-color-text:#495057;
$font-size-default:.8125rem;

@import '~bootstrap/scss/bootstrap';
@import url("./scss/table-utils.scss");
@import url("./scss/text-custm.scss");
@import "./scss/controls-custom.scss";

.dropdown-menu{ font-size: $font-size-default;}

.page-header{
  .title{
    text-transform: uppercase;
    font-size: 16px; font-weight: 600;
  }
}

body{
  //font-family: "Roboto", sans-serif !important;
  font-family: Inter,Helvetica,sans-serif;
  font-size: $font-size-default;
  font-weight: 400;
  line-height: 1.5;

  padding: 0px;
  margin: 0px;
  background-color: $base-background-color !important;
  color:$base-color-text;
}



.sidebar{
  top: 0;
  bottom: 0;
  inset-inline-start: 0;
  color: #031b4e;
  width: 240px;
  max-height: 100%;
  z-index: 1024;
  background: $base-color;
  box-shadow: 0 8px 14.72px 1.28px #e5e4e633;
  border-inline-end: 1px solid #ededf5;
  transition: left .3s ease,width .3s ease;

  .logo{
    width: 100%;
    text-align: center;
    border-block-end: 1px solid #eae8f1;
    img{ height: 50px; }
  }
}

.topbar{
  background: $base-color !important;
  color: #495057;
  height: 45px;
  .option{
    margin: 0 7px;
    font-size: 1.1rem;
    padding: 0.5rem 0.5rem;
    height: 38px;
    width: 38px;
  }
}

.pointer {cursor: pointer;}


